doctype html
include mixins
html(lang="en")
	include includes/head
	script(type="text/javascript", src="js/admin.js")
	title Admin

	body
		+navbar

		section.bg-dark
			.container.text-center
				h1 Site Settings
		section
			.container
				.row
					.col-lg-12
						h2 Products
				.row
					.col-lg-12
						.btn-toolbar
							button.btn.btn-primary(type="button")#addProduct Add Product
							button.btn.btn-primary(type="button")#getSquareItems Get Items
				.row
					table.table.table-hover#productTable
						thead
							tr
								th Name
								th Category
								th Options
						tbody#productTableBody
				.row
					.col-lg-12
						h2 Categories
						button.btn.btn-primary(type="button")#addCategory Add Category
				.row
					table.table.table-hover#categoryTable
						thead
							tr
								th Name
								th Minimum Order
						tbody#categoryTableBody

		#addItem.modal.fade(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4 Add Item 
					.modal-body
						.list-group#itemList

		#categoryModal.modal.fade(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4 Add/Edit Category
					.modal-body
						.row.form-group
							.col-lg-6
								label Name
								input.form-control(type="text")#categoryNameModal
							.col-lg-6
								label Minimum Order Quantity
								input.form-control#categoryMinimumModal(type="number")
						.row.form-group
							.col-lg-12.checkbox
								label
									input(type="checkbox")#legalAgeRequired
									| You must be over 19 years old to purchase this category.
					.modal-footer
						button.btn.btn-danger(type="button")#deleteCategoryButton Delete
						button.btn.btn-success(type="button")#saveCategoryButton Save

		#editProductModal.modal.fade(role="dialog")
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						button.close(data-dismiss="modal") &times;
						h4 Add/Edit Item
					.modal-body
						.row.form-group
							.col-lg-6
								.row.form-group
									.col-lg-6
										label Name
										input(type="text").form-control#productName
									.col-lg-6
										label Category
										input(type="text").form-control#productCategory
								.row.form-group
									.col-lg-6
										label Alcohol %
										input(type="number", step="any").form-control#alcPercentage
									.col-lg-6
										label Bottle Size (ml)
										input(type="number").form-control#bottleSize
							.col-lg-6
								label Description
								textarea.form-control#productDescription(rows="7")
						.row
							.col-lg-6
								label Images
								textarea.form-control(rows="4")#productImages
							.col-lg-6
								label Options
								table.table.table-striped.table-hover
									thead
										tr
											th Name
											th Price
											th Min. Quantity
									tbody#optionTableBody
								button.btn.btn-default#addOptionButton Add Option
					.modal-footer
						button.btn.btn-danger(type="button")#deleteProductButton Delete Item
						button.btn.btn-success(type="button")#saveProductButton Save Item

		#optionModal.modal.fade(role="dialog", data-backdrop="false", style="z-index:1080")
				.modal-dialog
					.modal-content
						.modal-header
							button.close(data-dismiss="modal") &times;
							h4 Add/Edit Option
						.modal-body
							.row.form-group
								.col-lg-3
									label Option Name
									input(type="text").form-control#addOptionName
								.col-lg-3
									label Option Price
									.input-group
										.input-group-addon $
										input.form-control(type="number")#addOptionPrice
								.col-lg-3
									label Min. Quantity
									input.form-control(type="number")#optionMinimumQuantity
						.modal-footer
							button.btn.btn-danger(type="button")#deleteOptionButton Delete Option
							button.btn.btn-success(type="button")#saveOptionButton Save Option