doctype html
include mixins
html(lang="en")
	include includes/head
	title Blog
	
	body#page-top
		+navbar("blog")
	header.our-story#page-scroll
		.header-content
			.header-content-inner
				h1 Blog
				hr
				p Discover more about Apple Falls Cider through one of our exciting blog posts.
	section
		.container
			.row
	+footer