doctype html
include mixins
html(lang="en")
	include includes/head
	title AFC - News and Events
	
	body#page-top
		+navbar("events")
		header.our-orchard#page-scroll
			.header-content
				.header-content-inner
					h1 News &amp; Events
					hr
					p Find out what's happening at Apple Falls Cider Co. and Campbell's Orchards.
		section.bg-primary.text-center
			.container
				.row
					.col-lg-6
						h2.section-heading JERKebago and a Halloween Harvest Feast!
						p JERKebago will be at Apple Falls Cider Co. this Saturday (October 28th) celebrating Halloween from 11am to 6pm taking over the patio and serving up some delicious jerk chicken and other good eats! Apple Falls Cider will have two ciders on tap to enjoy with your meal. This all will take place at Campbell's Orchards!
						p There will be fun halloween activities for the kids. Come dressed up in your Halloween gear for a treat!
						a.btn.btn-success(href="https://www.facebook.com/events/137626603536402", target="_blank") Find out more on Facebook
					.col-lg-6
						img.img-responsive(src="./img/events/jerkebago.jpg")

		+footer
