mixin hourTableRow(day, tastingTime, shopTime)
	td=day
	td=tastingTime
	td=shopTime

doctype html
include mixins
html(lang="en")
	include includes/head
	script(type="text/javascript", src="js/instafeed.min.js")
	script(type="text/javascript", src="js/insta-feed.js")
	script.
		var answer1="#{answer1}";
	script(type="text/javascript", src="js/homepage.js")
	script(type="text/javascript", src="js/map.js")
	link(rel="stylesheet", href="/css/animations.css")
	title Apple Falls Cider Co.
	
	body#page-top
		script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", data-dojo-config="usePlainJson: true, isDebug: false")
		script(type="text/javscript").
			require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"817f13bf09ea736c573f731b2","lid":"81f22e84b4"}) })
		+navbar("home")

		header
			video#af-vid(playsinline, autoplay, muted, loop, poster="/img/vids/applefalls.png")
				source(src="/img/vids/applefalls.mp4", type="video/mp4")
			audio#ding(src="/sounds/ding.mp3", type="audio/mpeg")
			audio#wrong(src="/sounds/error.mp3", type="audio/mpeg")
			img#right-branch.branch-nest(src="/img/home/branch-nest.png")
			img#left-branch.branch-left(src="/img/home/branch-left.png")
			img#bumblebee.bumblebee.bumblebee-start(src="/img/svg/bumblebee.svg" alt="Bumble Bee")
			.header-content.infront
				.header-content-inner.container-fluid
					.row
						.col-lg-12
							img.img-responsive.center-block.logo(src="/img/logo-white.png", alt="Apple Falls Cider Co.")
			button#roseButton1.roseButton.invisible-button.hidden Rose 1
			button#roseButton2.roseButton.invisible-button.hidden Rose 2
			button#roseButton3.roseButton.invisible-button Rose 3
			button#roseButton4.roseButton.invisible-button.hidden Rose 4
		aside.bg-primary#info
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4
						table.table.table-condensed.borderless
							thead
								tr
									th Day
									th Tasting Room
									th Bottle Shop
							tbody
								tr
									+hourTableRow('Monday', 'Closed', '9 am - 5:30 pm')
								tr
									+hourTableRow('Tuesday', 'Closed', '9 am - 5:30 pm')
								tr
									+hourTableRow('Wednesday', 'Closed', '9 am - 5:30 pm')
								tr
									+hourTableRow('Thursday', 'Closed', '9 am - 5:30 pm')
								tr
									+hourTableRow('Friday', 'Closed', '9 am - 5:30 pm')
								tr
									+hourTableRow('Saturday', '11:30 am - 4:30 pm', '9 am - 5:30 pm')
								tr
									+hourTableRow('Sunday', '11:30 am - 4:30 pm', '10 am - 5 pm')
					.col-lg-4.col-md-4.col-sm-4.text-center.lead
						h2 Hours
						hr.light
						p Our bottle shop is located at Campbell's Orchards in Prince Edward County and is open 7 days a week. Visit us for a drink on our licensed patio or stop by for a tasting on the weekends from 11:30 am to 4:30 pm.
					.col-lg-4.col-md-4.col-sm-4#vidContainer
						video#boomerang.boomerang(playsinline, autoplay, muted, loop, preload, poster="/img/parallax/grass.png").img-responsive.img-rounded.square-img
							source(src="/img/vids/boomerang.mov", type="video/mp4")
						
		section#about
			.container
				.row
					.col-lg-12.text-center
						h1.section-heading About Us
						hr.primary
				.row
					.col-lg-4.col-md-4.col-sm-4.text-center
						.service-box
							i.fa.fa-4x.icon-beer.wow.bounceIn.text-primary(data-wow-delay="0s")
							h3 Our Cider
							p.text-muted Unpasteurized and unfiltered. Created using traditional techniques from Campbell's Orchards' apples.
							hr.primary
							a(href="/our-cider").btn.btn-primary Read more
					.col.lg-4.col-md-4.col-sm-4.text-center
						.service-box
							i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay="0.1s")
							h3 Events
							p.text-muted Find out what's happening at Apple Falls and Campbell's Orchards.
							hr.primary
							a(href="/events").btn.btn-primary Read more
					.col.lg-4.col-md-4.col-sm-4.text-center
						.service-box
							i.fa.fa-4x.fa-pencil-square-o.wow.bounceIn.text-primary(data-wow-delay="0.2s")
							h3 Our Story
							p.text-muted Apple Falls Cider creates ciders that feature the true flavours of Prince Edward County.
							hr.primary
							a(href="/our-story").btn.btn-primary Read more
		section.no-padding
			.container-fluid
				.row.no-gutter
					#instafeed
				#row2.row.no-gutter
		aside.bg-dark#subscribe
			+subscribe
		.map#map-canvas
		+footer

		button.btn.btn-default(data-toggle="modal", data-target="#easterEggModal") Show Modal
		#easterEggModal.modal.fade(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button", data-dismiss="modal").close &times;
						h2 Congrats!
					.modal-body
						p Well done. You have proven your dexterity. Next, we will test your knowlege.
						form.form
							.form-group
								label(for="ciderQ") What was the name of our first cider?
								.input-group
									input#ciderQ.form-control(type="text")
									i#ciderQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="instaQ") The 17th photo posted on our Instagram is a picture of what?
								.input-group
									input#instaQ.form-control(type="text")
									i#instaQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="houseQ") Whose name appears on the cider house?
								.input-group
									input#houseQ.form-control(type="text")
									i#houseQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="tankQ") What is the name of our first tank?
								.input-group
									input#tankQ.form-control(type="text")
									i#tankQIcon.fa.fa-times.input-group-addon
							.form-group
								.well
									p Matt, Amelia, Colin, John and Maddy were all drinking cider. Matt finished before his girlfriend, but after her brother. Amelia's father finished before Amelia's boyfriend. Matt's sister finished after him but didn't come last. The person who finished first is younger than the person who finished second.
								label(for="riddleQ") What was the order?
								.input-group
									input#riddleQ.form-control(type="text")
									i#riddleQIcon.fa.fa-times.input-group-addon
					.modal-footer
						button#nextButton.btn.btn-success.disabled(type="button") Next
			#finalModal.modal.fade(role="dialog")
				.modal-dialog
					.modal-content
						.modal-header
							h2 Now I'm impressed
						.modal-body
							p This is the final step. All you have to do is go to Facebook messenger (on your phone or mobile device) and message Apple Falls Cider with the message:


