mixin hourTableRow(day, tastingTime)
	td=day
	td=tastingTime

doctype html
include mixins
html(lang="en")
	include includes/head
	script(type="text/javascript", src="js/instafeed.min.js")
	script(type="text/javascript", src="js/insta-feed.js")
	script(type="text/javascript", src="js/homepage.js")
	script(type="text/javascript", src="js/map.js")
	link(rel="stylesheet", href="/css/animations.css")
	title Apple Falls Cider Co.
	
	body#page-top
		script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", data-dojo-config="usePlainJson: true, isDebug: false")
		script(type="text/javscript").
			require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"817f13bf09ea736c573f731b2","lid":"81f22e84b4"}) })
		+navbar("home")

		header
			video#af-vid(playsinline, autoplay, muted, loop, poster="/img/vids/applefalls.png")
				source(src="/img/vids/applefalls.mp4", type="video/mp4")
			audio#ding(src="/sounds/ding.mp3", type="audio/mpeg")
			audio#wrong(src="/sounds/error.mp3", type="audio/mpeg")
			img#right-branch.branch-nest(src="/img/home/branch-nest.png")
			img#left-branch.branch-left(src="/img/home/branch-left.png")
			img#bumblebee.bumblebee.bumblebee-start(src="/img/svg/bumblebee.svg" alt="Bumble Bee")
			.header-content.infront
				.header-content-inner.container-fluid
					.row
						.col-lg-12
							img.img-responsive.center-block.logo(src="/img/logo-white.png", alt="Apple Falls Cider Co.")
			button#roseButton1.roseButton.invisible-button.hidden Rose 1
			button#roseButton2.roseButton.invisible-button.hidden Rose 2
			button#roseButton3.roseButton.invisible-button Rose 3
			button#roseButton4.roseButton.invisible-button.hidden Rose 4
			+chevron
		aside.bg-dark#top
			.container
				.row
					.col-lg-4.col-md-4.col-sm-4
						table.table.table-condensed.borderless
							thead
								tr
									th Day
									th Bottle Shop
							tbody
								tr
									+hourTableRow('Monday', 'Closed')
								tr
									+hourTableRow('Tuesday', 'Closed')
								tr
									+hourTableRow('Wednesday', 'Closed')
								tr
									+hourTableRow('Thursday', '9 am - 5 pm')
								tr
									+hourTableRow('Friday', '9 am - 5 pm')
								tr
									+hourTableRow('Saturday', '9 am - 5 pm')
								tr
									+hourTableRow('Sunday', '10 am - 5 pm')
						.row.text-center
							small Private tastings are available #[a.alt(href="/events") by appointment] for the winter season.
					.col-lg-4.col-md-4.col-sm-4.text-center.lead
						.service-box.wow.tada(data-wow-delay="0.2s")
							i.far.fa-2x.fa-shopping-cart.text-light
						h2 Online Store
						hr.light
						p Order our cider online and have it shipped directly to your door!
						a(href="http://store.applefallscider.ca/").btn.btn-primary Shop now
					.col-lg-4.col-md-4.col-sm-4#vidContainer
						video#boomerang.boomerang(playsinline, autoplay, muted, loop, preload, poster="/img/parallax/grass.png").img-responsive.img-rounded.square-img
							source(src="/img/vids/boomerang.mov", type="video/mp4")
						
		section#about
			.container
				.row
					.col-lg-12.text-center
						h1.section-heading About Us
						hr.dark
				.row
					.col-lg-3.col-md-3.col-sm-3.text-center
						.service-box.wow.bounceInLeft(data-wow-delay="0s")
							i.far.fa-4x.fa-beer.text-dark
							h3 Our Cider
							p.text-muted Unpasteurized and unfiltered. Created using traditional techniques from Campbell's Orchards' apples.
							hr.dark
							a(href="/our-cider").btn.btn-dark Read more
					.col.lg-3.col-md-3.col-sm-3.text-center
						.service-box.wow.bounceInDown(data-wow-delay="0.1s")
							i.far.fa-4x.fa-camera-retro.text-dark
							h3 Book a Tour
							p.text-muted Check out the farm and the cider house! Learn about the process of cider making! Oh and drink some cider, too. 
							hr.dark
							a(href="/events").btn.btn-dark Book now
					.col.lg-3.col-md-3.col-sm-3.text-center
						.service-box.wow.bounceInUp(data-wow-delay="0.2s")
							i.far.fa-4x.fa-pencil-alt.text-dark
							h3 Our Story
							p.text-muted Stay up to date with what's happening at Apple Falls. You may even learn something along the way.
							hr.dark
							a(href="http://blog.applefallscider.ca").btn.btn-dark Read the blog
					.col.lg-3.col-md-3.col-sm-3.text-center
						.service-box.wow.bounceInRight(data-wow-delay="0.3s")
							i.far.fa-4x.fa-newspaper.text-dark
							h3 In the News
							p.text-muted Find out what the community is saying about Apple Falls Cider Co. 
							hr.dark
							a(href="/news").btn.btn-dark Read More
		section.no-padding
			.container-fluid
				.row.no-gutter
					#instafeed
				#row2.row.no-gutter
		aside.bg-dark#subscribe
			+subscribe
		.map#map-canvas
		+footer
		+offerPopup

		#easterEggModal.modal.fade(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button", data-dismiss="modal").close &times;
						h2 Congrats!
					.modal-body
						p Well done. You have proven your dexterity. Next, we will test your knowlege.
						form.form
							.form-group
								label(for="ciderQ") What was the name of our first cider?
								.input-group
									input#ciderQ.form-control(type="text")
									i#ciderQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="instaQ") The 17th photo posted on our Instagram is a picture of what?
								.input-group
									input#instaQ.form-control(type="text")
									i#instaQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="houseQ") Whose name appears on the cider house?
								.input-group
									input#houseQ.form-control(type="text")
									i#houseQIcon.fa.fa-times.input-group-addon
							.form-group
								label(for="tankQ") What is the name of our first tank?
								.input-group
									input#tankQ.form-control(type="text")
									i#tankQIcon.fa.fa-times.input-group-addon
							.form-group
								.well
									p Matt, Amelia, Colin, John and Maddy were all drinking cider. Matt finished before his girlfriend, but after her brother. Amelia's father finished before Amelia's boyfriend. Matt's sister finished after him but didn't come last. The person who finished first is younger than the person who finished second.
								label(for="riddleQ") What was the order?
								.input-group
									input#riddleQ.form-control(type="text")
									i#riddleQIcon.fa.fa-times.input-group-addon
					.modal-footer
						button#nextButton.btn.btn-success.disabled(type="button") Next

		#finalModal.modal.fade(role="dialog")
			.modal-dialog
				.modal-content
					.modal-header
						button(type="button", data-dismiss="modal").close &times;
						h2 Now I'm impressed
					.modal-body
						p This is the final step. All you have to do is go to Facebook messenger (on your phone or mobile device) and message Apple Falls Cider with the message:
						#secretMessage.well
						p When prompted, enter your secret code:
						#secretCode.well
					.modal-footer
						.btn-toolbar
							button.btn.btn-primary(type="button", data-dismiss="modal") Okay
							a.btn.btn-success(href="https://www.messenger.com/t/applefallscider", target="_blank") Open Messeger