mixin hourTableRow(day, tastingTime, shopTime)
	td=day
	td=tastingTime
	td=shopTime

doctype html
include mixins
html(lang="en")
	include includes/head
	script(type="text/javascript", src="js/instafeed.min.js")
	script(type="text/javascript", src="js/insta-feed.js")
	script(type="text/javascript", src="js/homepage.js")
	script(type="text/javascript", src="js/map.js")
	link(rel="stylesheet", href="/css/animations.css")
	title Apple Falls Cider Co.
	
	body#page-top
		+navbar("home")

		header
			video#af-vid(playsinline, autoplay, muted, loop, poster="/img/vids/applefalls.png")
				source(src="/img/vids/applefalls.mp4", type="video/mp4")
			img#right-branch.branch-nest(src="/img/home/branch-nest.png")
			img#left-branch.branch-left(src="/img/home/branch-left.png")
			img#bumblebee.bumblebee.bumblebee-start(src="/img/svg/bumblebee.svg" alt="Bumble Bee")
			.header-content.infront
				.header-content-inner.container-fluid
					.row
						.col-lg-12
							img.img-responsive.center-block.logo(src="/img/logo-white.png", alt="Apple Falls Cider Co.")
			button#roseButton1.roseButton.invisible-button Rose 1
			button#roseButton2.roseButton.invisible-button Rose 2
			button#roseButton3.roseButton.invisible-button Rose 3
			button#roseButton4.roseButton.invisible-button Rose 4
		aside.bg-primary#info
			.container
				.row
					.col-lg-4
						table.table.table-condensed.borderless
							thead
								tr
									th 
									th Tasting Room
									th Bottle Shop
							tbody
								tr
									+hourTableRow('Monday', 'Closed', '9am - 5pm')
								tr
									+hourTableRow('Tuesday', 'Closed', '9am - 5pm')
								tr
									+hourTableRow('Wednesday', 'Closed', '9am - 5pm')
								tr
									+hourTableRow('Thursday', 'Closed', '9am - 5pm')
								tr
									+hourTableRow('Friday', 'Closed', '9am - 5pm')
								tr
									+hourTableRow('Saturday', '11:30am - 4:30pm', '9am - 5pm')
								tr
									+hourTableRow('Sunday', '11:30am - 4:30pm', '9am - 5pm')
					.col-lg-4.text-center.lead
						h2 Hours
						hr.light
						p Our bottle shop is located at Campbell's Orchards and is open 7 days a week. Enjoy a tasting on the weekends from 11:30 am to 4:30 pm.
					.col-lg-4#vidContainer
						video#boomerang.boomerang(playsinline, autoplay, muted, loop, preload, poster="/img/parallax/grass.png").img-responsive.img-rounded.square-img
							source(src="/img/vids/boomerang.mov", type="video/mp4")
						
		section#about
			.container
				.row
					.col-lg-12.text-center
						h1.section-heading About Us
						hr.primary
				.row
					.col-lg-4.col-md-4.text-center
						.service-box
							i.fa.fa-4x.icon-beer.wow.bounceIn.text-primary(data-wow-delay="0s")
							h3 Our Cider
							p.text-muted Unpasteurized and unfiltered. Created using traditional techniques from Campbell's Orchards' apples.
							hr.primary
							a(href="/our-cider").btn.btn-primary Read more
					.col.lg-4.col-md-4.text-center
						.service-box
							i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay="0.1s")
							h3 Events
							p.text-muted Find out what's happening at Apple Falls and Campbell's Orchards.
							hr.primary
							a(href="/events").btn.btn-primary Read more
					.col.lg-4.col-md-4.text-center
						.service-box
							i.fa.fa-4x.fa-pencil-square-o.wow.bounceIn.text-primary(data-wow-delay="0.2s")
							h3 Our Story
							p.text-muted Apple Falls Cider creates ciders that feature the true flavours of Prince Edward County.
							hr.primary
							a(href="/our-story").btn.btn-primary Read more
		section.no-padding
			.container-fluid
				.row.no-gutter
					#instafeed
				#row2.row.no-gutter
		aside.bg-dark#subscribe
			+subscribe
		.map#map-canvas
		+footer