mixin navbar(active)
	nav#mainNav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button(type="button", data-toggle="collapse", data-target="mainNavCollapse").navbar-toggle.collapsed
					span.sr-only Toggle Navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				if active == "home"
					a.navbar-brand.page-scroll(href="#page-top") Apple Falls Cider Co.
				else
					a.navbar-brand(href="/") Apple Falls Cider Co.
			.collapse.navbar-collapse#mainNavCollapse
				ul.nav.navbar-nav.navbar-right
					if active == "home"
						+activeNav("Home")
					else
						+inactiveNav("Home", "/")
					li.dropdown
						a.page-scroll(href="#about") Info #[span.caret]
						ul.dropdown-menu
							if active == "cider"
								+activeNav("Our Cider")
							else
								+inactiveNav("Our Cider", "/our-cider")
							if active == "events"
								+activeNav("Events")
							else
								+inactiveNav("Events", "/events")
							if active == "story"
								+activeNav("Our Story")
							else
								+inactiveNav("Our Story", "/our-story")
					if active == "blog"
						+activeNav("Blog")
					else
						+inactiveNav("Blog", "http://blog.applefallscider.ca")
					if active == "contact"
						+activeNav("Contact")
					else
						+inactiveNav("Contact", "/contact")
					li
						a(href="http://store.applefallscider.ca", target="_blank") Store
					li.dropdown 
						a(href="#") Social #[span.caret]
						ul.dropdown-menu
							li
								a(href="https://www.facebook.com/applefallscider", target="_blank") #[i.fa.fa-facebook.fa-fw] Facebook
							li
								a(href="https://twitter.com/AppleFallsCider", target="_blank") #[i.fa.fa-twitter.fa-fw]Twitter
							li
								a(href="https://www.instagram.com/applefallscider/", target="_blank") #[i.fa.fa-instagram.fa-fw] Instagram

mixin activeNav(name)
	li.active
		a.page-scroll(href="#page-top")= name

mixin inactiveNav(name, link)
	li
		a(href=link)= name

mixin footer
	aside.bg-dark
		.container
			.row.visible-lg.visible-md.hidden-sm.hidden-xs.text-center
				+contactIcon('fa-envelope-o', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card-o', "https://goo.gl/maps/DteZJVS2wTQ2")
				+contactIcon('fa-phone', "tel:+1-613-242-8433")
				+contactIcon('fa-facebook', "https://www.facebook.com/applefallscider")
				+contactIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+contactIcon('fa-instagram', "https://www.instagram.com/applefallscider/")
			.row.hidden-lg.hidden-md.visible-sm.hidden-xs.text-center
				+contactIcon('fa-envelope-o', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card-o', "https://goo.gl/maps/DteZJVS2wTQ2")
				+contactIcon('fa-phone', "tel:+1-613-242-8433")
			.row.hidden-lg.hidden-md.visible-sm.hidden-xs.text-center
				+contactIcon('fa-facebook', "https://www.facebook.com/applefallscider")
				+contactIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+contactIcon('fa-instagram', "https://www.instagram.com/applefallscider/")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+contactIcon('fa-envelope-o', "mailto:info@applefallscider.ca")
				+contactIcon('fa-address-card-o', "https://goo.gl/maps/DteZJVS2wTQ2")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+contactIcon('fa-phone', "tel:+1-613-242-8433")
				+contactIcon('fa-facebook', "https://www.facebook.com/applefallscider")
			.row.hidden-lg.hidden-md.hidden-sm.visible-xs.text-center
				+contactIcon('fa-twitter', "https://twitter.com/AppleFallsCider")
				+contactIcon('fa-instagram', "https://www.instagram.com/applefallscider/")

mixin contactIcon(iconName, link)
	.col-lg-2.col-md-2.col-sm-4.col-xs-6
		.service-box
			a(href=link, target="_blank")
				i.fa.fa-2x.wow.bounceIn(class=iconName, data-wow-delay='0s')

mixin subscribe
	.container.text-center
		.call-to-action
			h2 We'll keep you updated
			#mc_embed_signup
				form.form-inline(action="//applefallscider.us13.list-manage.com/subscribe/post?u=817f13bf09ea736c573f731b2&amp;id=81f22e84b4", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank")
					.form-group.margin-right-5
						label.sr-only(for="mce-FNAME") First Name
						input.form-control#mce-FNAME(type="text", name="FNAME", placeholder="Isaac")
					.form-group.margin-right-5
						label.sr-only(for="mce-LNAME") First Name
						input.form-control#mce-LNAME(type="text", name="LNAME", placeholder="Newton")
					.form-group.margin-right-5
						label.sr-only(for="mce-EMAIL") Email Address
						input.form-control.email#mce-EMAIL(type="email", name="EMAIL", placeholder="nine.eight@meters/s^2.com", size="25")
					// Don't fill this one in!
					div(style="position: absolute; left: -5000px;", aria-hidden="true")
						input(type="text" name="b_817f13bf09ea736c573f731b2_81f22e84b4", tabindex="-1", value="")
					input.btn.button.btn-default#mc-embedded-subscribe(type="submit", value="Subscribe", name="subscribe")
