doctype html
include mixins
html(lang="en")
	include includes/head
	title AFC - News
	
	body#page-top
		+navbar("news")
		header.our-orchard#page-scroll
			.header-content
				.header-content-inner
					h1 News
					hr
					p Find out what's happening at Apple Falls Cider Co. and Campbell's Orchards.
			+chevron
		section.bg-primary#top
			.container
				.row
					.col-lg-12
						h1 Build a New Life
				.row
					.col-lg-8
						p Check out the latest article on Apple Falls Cider Co!
						blockquote
							p Amelia Campbell grew up on an apple farm. Campbell’s Orchards near Carrying Place has been a favourite family destination for 35 years – now  Amelia and her partner Matt Oskamp are adding a delicious new attraction to the family farm. Amelia tells us about creating Apple Falls Cider... 
							a.btn-default.btn(type="button", href="http://buildanewlife.ca/apple-falls-cider/", target="_blank") Read on
					.col-lg-4
						img.img-responsive(src="/img/events/county-logo.png")
		section
			.container
				.row
					.col-lg-12
						h1 Culinary Tourism Alliance
				.row
					.col-lg-10
						p New Ciderhouse Opens in Prince Edward County, by Kristin Nicol on March 17, 2017.
						blockquote
							p This story begins with a local apple orchard owned and operated by the Campbell Family for over 35 years in Prince Edward County...
							a.btn.btn-primary(type="button", href="https://ontarioculinary.com/new-ciderhouse-opens-in-prince-edward-county/", target="_blank") Read on
					.col-lg-2
						img.img-responsive(src="https://ontarioculinary.com/wp-content/themes/octanew/library/images/logo.png")
		section.bg-primary
			.container
				.row
					.col-lg-12
						h1 Quintevation
				.row
					.col-lg-8
						p Makers Profile. 
						blockquote
							p Amelia Campbell grew up around apples. Her family has owned and operated the popular Campbell’s Orchard in Carrying Place for many years, and when the cider trend began to take its initial hold in Prince Edward County and the broader Bay of Quinte Region, a number of folks looking for quality raw materials came to the Campbells...
							a.btn-default.btn(type="button", href="http://www.quintevation.ca/maker/apple-falls-cider-company/", target="_blank") Read on
					.col-lg-4
						img.img-responsive(src="http://www.quintevation.ca/_site/assets/img/qv-icon.png")
		+footer