doctype html
include mixins
html(lang="en")
	include includes/head
	script(src="js/bootstrap-notify.min.js")
	script(src="js/ourcider.js")
	title AFC - Our Cider
	
	body#page-top
		+navbar("cider")
		header.our-cider#page-scroll
			.header-content
				.header-content-inner
					h1 Our Cider
					hr
					p Apple Falls Cider Company creates ciders that feature the true flavours of Prince Edward County.
					p Our cider is available for sale at Campbell's Orchards during their regular store hours.
			+chevron
		section#top
			.container
				.row.text-center
					h1 Varieties
					hr
				.row
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/act2-square.png")
						//p.label.label-success.badge-text.sans-serif-font New!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Premiere Act II
								p Based on the success of our original Premiere, we recreated our first cider with more complexities but using the same traditional techniques. Expect a very dry cider with some more body and a slightly bitter finish, reminiscent of apple skin.
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/crush-square.png")
						//p.label.label-success.badge-text.sans-serif-font New!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Crush
								p A simple cider made with only Pioneer McIntosh apples and crushed strawberries from Campbell's Orchards. Sold in a 750ml bottle, this is the perfect drink to bring to social events and share with your friends!
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/beekeeper.png")
						//p.label.label-success.badge-text.sans-serif-font New!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Beekeeper
								p A crisp, off-dry cider with a hint of honey. Made with Honeycrisp and Golden Russet apples, this cider is the perfect blend of sweet and smooth. 
				.row.pad-top-20
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/hopped.jpg")
						//p.label.label-success.badge-text.sans-serif-font New!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Hopped
								p We collaborated with our friends from Pyramid Ferments to come up with this unique blend of raspberry, hops, kombucha and cider. Light and refreshing, this cider comes in a 3.9% alc/vol. This new and innovative product is perfect for a guilt-free drink with lunch.
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/premiere.png")
						p.label.label-danger.badge-text.sans-serif-font Sold Out!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Premiere
								p Our first cider made of Campbell’s own Empire, Red Delicious, Brandywine Crabapple, Flemish Beauty and Bosc pears that make up the entirety of this cider. Categorized as traditional dry, English style cider with a fresh apple aroma followed by a juicy, ripe apple finish that makes it hard to resist.
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/cherry-square.png")
						p.label.label-danger.badge-text.sans-serif-font Sold Out!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Heritage & Cherry
								p On a dark winter night, Colin Campbell was rummaging around in the cider house. In his clumsiness (he may have been sampling too much cider) he accidentally knocked a bucket of sour cherries into a batch of #[strong Heritage] cider. The result was a delicious cider with a subtle hint of cherry tartness.
				.row.pad-top-20
					.col-lg-4.cider-label
						img.img-rounded.img-responsive.center-block(src="./img/cider/heritage-square.png")
						p.label.label-danger.badge-text.sans-serif-font Sold Out!
						.overlay.img-rounded.center-block
							.overlay-caption
								h2 Heritage
								p Our Heritage variety is made with late-season apples like Northern Spys and Golden Russets. This provides a more full-bodied cider that sticks to your tongue. We also blended each of our Heritage varieties with Prince Edward County maple syrup.
					
		+footer
