mixin listing(item, isNew)
	.col-lg-3.cider-label
		a(data-target="#itemModal", href="#", data-toggle="modal", onclick="populateListingModal("+JSON.stringify(item)+")")
			img.img-rounded.img-responsive.center-block(src=item.images[0])
		if isNew
			p.label.label-success.badge-text.sans-serif-font New!

doctype html
include mixins
html(lang="en")
	include includes/head
	title Online Store
	script(type="text/javascript", src="js/store.js")
	
	body#page-top
		+navbar("store")
		header.store#page-scroll
			.header-content
				.header-content-inner
					h1 Online Store
					hr
					p Please, don't get up.
			+chevron
		section#top
			.container
				.row
					.col-lg-12
						h1 Cider
				.row
					each cider in ciders
						+listing(cider)
						
		#itemModal.modal.fade(role="dialog")
				.modal-dialog.modal-lg
					.modal-content
						.modal-header
							button.close(data-dismiss="modal") &times;
							h4#itemNameTitle Default Title
						.modal-body
							.row
								.col-lg-6
									#imageCarousel.carousel.slide(data-ride="carousel")
										ol.carousel-indicators#carouselIndicators
											li(data-target="#imageCarousel", data-slide-to="0").active
											li(data-target="#imageCarousel", data-slide-to="1")
											li(data-target="#imageCarousel", data-slide-to="2")
										.carousel-inner#carouselItems
											.item.active
												img.img-rounded.img-responsive.center-block(src="./img/cider/act2-square.png")
											.item
												img.img-rounded.img-responsive.center-block(src="./img/cider/crush-square.png")
											.item
												img.img-rounded.img-responsive.center-block(src="./img/cider/beekeeper.png")
										a.top50percent.carousel-control(href="#imageCarousel", data-slide="prev")
											span.fa.fa-chevron-left
											span.sr-only Previous
										a.carousel-control.top50percent.right-control(href="#imageCarousel", data-slide="next")
											span.fa.fa-chevron-right
											span.sr-only Next
								.col-lg-6
									.row
										.col-lg-12
											p#itemDescription Default Description
									.row
										.col-lg-12
											table.table.table-striped
												tbody
													tr 
														td Alc. / Vol.
														td#alcoholPercentage
													tr
														td Bottle Size
														td#bottleSize
													tr 
														td Shipping
														td Ships within 7 days
													//tr // TODO
														td Share
														td Share buttons
									.row
										.col-lg-6
											.form-group
												label Options
												select.form-control#itemOptions
													option Choose an option
													option Four Pack - $26
													option 12 Pack - $78
										.col-lg-6
											.form-group
												label Quantity 
												input.form-control#quantityInput(type="Number", value="1", step="1")
						.modal-footer
							button.btn.btn-success.btn-lg(type"button")#addToCartButton Add to Cart
								|	 
								span.label.label-default#itemSubtotal

		+footer
