/* The animation code */
@keyframes fly {
  0% {left:0; transform: scale(1,1);}
  20% {transform: scale(1.5,1.5);}
  40% {left: calc(100% - 50px); transform: scale(1,1);}
  50% {left: calc(100% - 50px); transform: rotateY(180deg);}
  70% {transform: scale(1.5,1.5) rotateY(180deg);}
  90% {left:0; transform: scale(1,1) rotateY(180deg);}
  100% {left: 0;}
}

.airplane {
  animation-name: fly;
  animation-duration: 8s;
  animation-delay: 0s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}