/* The animation code */
@keyframes fly {
  0% {left:0; transform: scale(1,1);}
  20% {transform: scale(1.5,1.5);}
  40% {left: calc(100% - 50px); transform: scale(1,1);}
  50% {left: calc(100% - 50px); transform: rotateY(180deg);}
  70% {transform: scale(1.5,1.5) rotateY(180deg);}
  90% {left:0; transform: scale(1,1) rotateY(180deg);}
  100% {left: 0;}
}

@keyframes buzz-left-to-right {
  0% {
    left: 0;
    bottom: 0;
  }
  100% {
    left: calc(80%);
    bottom: 27%;
  }
}

.airplane {
  animation-name: fly;
  animation-duration: 8s;
  animation-delay: 0s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.bumblebee-move {
  position: absolute;
  width: 80px;
  height: auto;
  animation-name: buzz-left-to-right;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.bumblebee-start {
  position: absolute;
  left: -5000px;
}

.bumblebee {
  position: absolute;
  width: 80px;
  height: auto;
}

.flip-y {
  transform: rotateY(180deg);
}