
.icon-beer:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-location-1:before { content: '\e802'; } /* '' */
.icon-leaf:before { content: '\e803'; } /* '' */
.icon-flight:before { content: '\e804'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */